<div class="container">
    <h3>Add new Employee</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-4">
            <label for="name">Name</label><br />
            <input formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" /><!-- [(ngModel)]="empFrm.name" -->
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group col-4">
            <label for="empcode">Employee Code</label><br />
            <input formControlName="empcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empcode.errors }" (keypress)="numberOnly($event)" />
            <div *ngIf="submitted && f.empcode.errors" class="invalid-feedback">
                <div *ngIf="f.empcode.errors.required">Empcode is required</div>
            </div>
        </div>
        <div class="form-group col-4">
            <label for="department">Department</label><br />
            <input formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
            <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                <div *ngIf="f.department.errors.required">Department is required</div>
            </div>
        </div>
        <div class="form-group col-4">
            <label for="grade">Grade</label><br />
            <input formControlName="grade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.grade.errors }" />
            <div *ngIf="submitted && f.grade.errors" class="invalid-feedback">
                <div *ngIf="f.grade.errors.required">Grade is required</div>
            </div>
        </div>
        <!-- <input type="button" (click)="addEmployee()" value="Save" /> -->
        <button class="btn btn-primary mr-1">Save</button>
    </form>
    <hr>
    <div *ngFor="let emp of empData">
        <div>
            Employee Name: {{emp.name}}<br />
            Empcode: {{emp.empcode}}<br />
            Department: {{emp.department}}<br />
            Grade: {{emp.grade}}<br /><br />
        </div>
    </div>
</div>